# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dev tools
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Project structure
.tmp/
dist/
build/
*.egg-info/

# Metrics
.devkit-metrics.jsonl
